@rendermode InteractiveServer
@page "/settings/domains/add"
@attribute [Authorize]
@inherits RoleListeningComponentBase
@using Microsoft.AspNetCore.Authorization
@using NewUserSite.Models
@using NewUserSite.Data
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<NewUserSite.Data.NewUserDbContext> dbContextFactory
@inject NavigationManager NavigationManager

<h1 class="mb-3">Add Domain</h1>

<EditForm Model="@domain" FormName="AddDomain" OnValidSubmit="@handleValidSubmit" >
    <div class="mb-3">
    <label for="Name">Domain Name:</label>
    <InputText id="Name" @bind-Value="@domain.Name" class="col-3" />
    </div>
    <div>
    <a href="/settings/domains" class="btn btn-secondary">Back</a>
    <button type="submit" class="btn btn-primary">Add Domain</button>
    </div>

</EditForm>




@code {
    private Domain domain = new Domain();
    private NewUserDbContext context;

    public async Task handleValidSubmit(EditContext editContext)
    {
        context = dbContextFactory.CreateDbContext();
        var newDomain = (Domain)editContext.Model;
        context.Domains.Add(newDomain);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/settings/domains");
    }

}
