@page "/new-user-request/current"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using NewUserSite.Data
@using NewUserSite.Models
@using NewUserSite.Services
@inject IDbContextFactory<NewUserSite.Data.NewUserDbContext> dbContextFactory
@inject NewUserService NewUserService
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1 class="mb-5">Request History</h1>

<div class="row mb-3">
    <div class="col-4">
        <div class="input-group">
            <input type="text" class="form-control border-primary" placeholder="Search by name" @bind="nameFilter" @bind:event="oninput" />
            <button type="button" class="btn btn-outline-secondary" @onclick="@clearSearchBox">Clear</button>
        </div>
    </div>
</div>

<QuickGrid Class="table" Items="filteredUsers.AsQueryable()" Pagination="pagination">
    <PropertyColumn Property="newUser => newUser.GetDisplayName()" Title="Name" />
    <PropertyColumn Property="newUser => newUser.ADOrganizationalUnit.Name" Title="@preferences.OrganizationalUnit" />
    <PropertyColumn Property="newUser => newUser.NewUserTemplate.TemplateName" Title="@preferences.Template" />
    <PropertyColumn Property="newUser => newUser.SupervisorEmail" Title="Supervisor Email Address" />
    <PropertyColumn Property="newUser => newUser.CreatedBy" Title="Requested By" />
    <PropertyColumn Property="newUser => newUser.RequestedDate" Format="MM-dd-yyyy" Title="Requested Date" />
    <PropertyColumn Property="newUser => newUser.ApprovedDate" Format="MM-dd-yyyy" Title="Approved Date" />
    <PropertyColumn Property="newUser => newUser.ApprovedBy" Title="Approved By" />

    <TemplateColumn Context="newUser" Title="Actions">
        <button class="btn btn-success" @onclick="() => approveRequest(newUser.Id)">Approve</button>
        <button class="btn btn-danger" @onclick="() => denyRequest(newUser.Id)">Deny</button>
    </TemplateColumn>
</QuickGrid>
<Paginator State="pagination" />

@code {
    private NewUserDbContext context = default!;
    private List<NewUser> newUsers = new();
    private ApplicationPreferences preferences = new();
    private string nameFilter = string.Empty;
    private ADSearcher adSearcher = new();
    PaginationState pagination = new PaginationState { ItemsPerPage = 25 };

    private List<NewUser> filteredUsers => newUsers
        .Where(n => string.IsNullOrEmpty(nameFilter) || n.GetDisplayName().Contains(nameFilter, StringComparison.OrdinalIgnoreCase))
        .ToList();


    protected override async Task OnInitializedAsync()
    {
        context = dbContextFactory.CreateDbContext();
        await LoadNewUsersAsync();
        preferences = await context.ApplicationPreferences.FirstOrDefaultAsync();
        adSearcher = await context.ADSearchers.FirstOrDefaultAsync();
    }

    private async Task LoadNewUsersAsync()
    {
        newUsers = await context.NewUsers
            .Where(r => r.RequestStatus == RequestStatus.Waiting)
            .Include(a => a.ADOrganizationalUnit)
            .Include(t => t.NewUserTemplate)
            .Include(d => d.Domain)
            .AsNoTracking()
            .OrderBy(n => n.RequestedDate)
            .ToListAsync();
    }

    private void clearSearchBox()
    {
        nameFilter = string.Empty;
        StateHasChanged();
    }

    private async Task approveRequest(int id)
    {
        var authState = await AuthenticationStateProvider
            .GetAuthenticationStateAsync();
        var approver = authState.User.Identity.Name;
        approver = approver.Split('\\')[1];
        var approvedUser = await context.NewUsers
            .Where(n => n.Id == id)
            .Include(a => a.ADOrganizationalUnit)
            .Include(t => t.NewUserTemplate)
            .Include(d => d.Domain)
            .FirstOrDefaultAsync();
        approvedUser.ApprovedBy = approver;
        approvedUser.ApprovedDate = DateTime.UtcNow;
        approvedUser.RequestStatus = RequestStatus.Approved;
        NewUserService.CreateNewUser(adSearcher, approvedUser);
        context.NewUsers.Update(approvedUser);
        await context.SaveChangesAsync();
        await LoadNewUsersAsync();
        StateHasChanged();
    }

    private async Task denyRequest(int id)
    {
        var authState = await AuthenticationStateProvider
                    .GetAuthenticationStateAsync();
        var approver = authState.User.Identity.Name;
        approver = approver.Split('\\')[1];
        var deniedUser = await context.NewUsers
            .Where(n => n.Id == id)
            .FirstOrDefaultAsync();
        deniedUser.ApprovedBy = approver;
        deniedUser.ApprovedDate = DateTime.UtcNow;
        deniedUser.RequestStatus = RequestStatus.Denied;
        context.NewUsers.Update(deniedUser);
        await context.SaveChangesAsync();
        await LoadNewUsersAsync();
        StateHasChanged();
    }

}
