@rendermode InteractiveServer
@page "/new-user-request/success"
@attribute [Authorize]
@inherits RoleListeningComponentBase
@using Microsoft.AspNetCore.Authorization
@namespace NewUserSite.Components.NewUserRequest
@using NewUserSite.Models
@using NewUserSite.Services
@inject DataStateService DataStateService
@inject NavigationManager NavigationManager


@if (DataStateService.SavedObject is NewUser data)
{
    <h2>An account for @data.getDisplayName() has been successfully created</h2>

    <div class="mt-3">
        <a href="/new-user-request" class="btn btn-success">Submit Another Request</a>
    </div>
}
else
{
    NavigationManager.NavigateTo("/error");
}

@code {
    
}
