@rendermode InteractiveServer
@page "/settings/user-organizational-units/add"
@attribute [Authorize]
@inherits RoleListeningComponentBase
@using Microsoft.AspNetCore.Authorization
@using NewUserSite.Models
@using NewUserSite.Data
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<NewUserSite.Data.NewUserDbContext> dbContextFactory
@inject NavigationManager NavigationManager

<h1 class="mb-3">Add Organizational Unit</h1>

<EditForm Model="@adOrganizationalUnit" FormName="ADOrganizationalUnitUpdate" OnValidSubmit=@handleValidSubmit >
    <div>
        <label for="Name">Name:</label>
        <InputText id="Name" @bind-Value="@adOrganizationalUnit.Name" class="col-2" />
        <label class="ms-2" for="ADDistinguishedName">AD Distinguished Name:</label>
        <InputText id="ADDistinguishedName" @bind-Value="@adOrganizationalUnit.ADDistinguishedName" class="col-3" />
    </div>
    <div class="mt-3">
        <button class="btn btn-primary" type="submit">Save Organizational Unit</button>
        <a href="/settings/user-organizational-units" class="btn btn-secondary">Back</a>
    </div>
</EditForm>



@code {
    ADOrganizationalUnit adOrganizationalUnit = new ADOrganizationalUnit();
    private NewUserDbContext context;

    protected override async Task OnInitializedAsync()
    {
        context = dbContextFactory.CreateDbContext();
        List<ADOrganizationalUnit> organizationalUnits = await context.ADOrganizationalUnits.ToListAsync();
    }

    public async Task handleValidSubmit(EditContext editContext)
    {
        var newADOrganizationalUnit = (ADOrganizationalUnit)editContext.Model;
        context.ADOrganizationalUnits.Add(newADOrganizationalUnit);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/settings/user-organizational-units");
    }
}
