@page "/"
@rendermode InteractiveServer
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using NewUserSite.Services
@inject UserStateService UserStateService

<PageTitle>Home</PageTitle>

         <h1>Home</h1>

         @if (!UserStateService.IsInitialized)
{
    <p>Loading...</p>
}
else
{
    @if(UserStateService.CurrentPrincipal is not null && UserStateService.CurrentPrincipal.IsInRole("Domain Admins"))
    {
        <p>You are an Admin!</p>
    }
    else
    {
        <p>You are a standard user.</p>
    }
}


Welcome to your new app.

@code {
    protected override void OnInitialized()
    {
        UserStateService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserStateService.OnChange -= StateHasChanged;
    }
}