@page "/"
@rendermode InteractiveServer
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using NewUserSite.Services
@inject NewUserSite.Services.UserStateService UserStateService

<PageTitle>Home</PageTitle>

         <h1>Home</h1>

         <AuthorizeView>
        <p>Hello @UserStateService.CurrentUser.DisplayName</p>
        <p>SAM Account Name: @UserStateService.CurrentUser.SamAccountName</p>
        <p>User Principal Name: @UserStateService.CurrentUser.UserPrincipalName</p>
    <p>Groups: </p>
    <ul>
            @foreach (var group in UserStateService.CurrentUser.Groups)
        {
            <li>@group.Name</li>
        }
        )
    </ul>
             
</AuthorizeView>


Welcome to your new app.

    @code {
    [CascadingParameter]
    public AdUserInfo? CurrentUser { get; set; }

}