@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using NewUserSite.Data
@using NewUserSite.Models
@inject IDbContextFactory<NewUserSite.Data.NewUserDbContext> dbContextFactory

<h2>User Creation Preferences</h2>

<p>Auto-approve requests will immediately create any requested user accounts.</p>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" 
    @bind="autoApproveNewUserRequests" @bind:after="onSwitchChanged" />
    <label class="form-check-label" for="flexSwitchCheckDefault">Auto-approve New User Requests</label>
</div>


@code {
    private bool autoApproveNewUserRequests;
    private NewUserDbContext context = default!;

    private void onSwitchChanged()
    {
        context = dbContextFactory.CreateDbContext();
        context.ApplicationPreferences
            .ExecuteUpdateAsync(setters => 
                setters.SetProperty(a => a.AutoApproveNewUserRequests, autoApproveNewUserRequests));
    }

}
