@rendermode InteractiveServer
@page "/settings/active-directory/password"
@using NewUserSite.Models
@using NewUserSite.Data
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.DataProtection
@inject IDbContextFactory<NewUserSite.Data.NewUserDbContext> dbContextFactory
@inject NavigationManager NavigationManager
@inject IDataProtectionProvider ProtectionProvider

<h1>Edit Password</h1>

<EditForm Model="@adSearcher" FormName="ADSearcherSettingsUpdate" OnValidSubmit=@handleValidSubmit>
    <label for="Password">Domain Account Password:</label>
    <InputText id="Password" @bind-Value="@passwordInput" type="password" />
    <button type="submit" class="btn btn-primary">Save Settings</button>

</EditForm>

<a href="/settings/active-directory" class="btn btn-secondary">Back</a>

@code {
    ADSearcher adSearcher = new ADSearcher();
    private NewUserDbContext context;
    private string passwordInput = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        context = dbContextFactory.CreateDbContext();
        adSearcher = await context.ADSearchers.FirstOrDefaultAsync();
        if (adSearcher == null)
        {
            adSearcher = new ADSearcher();
            context.ADSearchers.Add(adSearcher);
            await context.SaveChangesAsync();
        }
        passwordInput = String.Empty;
    }

    public async Task handleValidSubmit(EditContext editContext)
    {
        var newAdSearcher = (ADSearcher)editContext.Model;
        var protector = ProtectionProvider.CreateProtector("ADSearcherPassword");
        var encryptedPassword = protector.Protect(passwordInput);
        adSearcher.Password = encryptedPassword;
        context.ADSearchers.Update(adSearcher);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/settings/active-directory");
    }
}
