@rendermode InteractiveServer
@page "/settings/active-directory/username"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using NewUserSite.Models
@using NewUserSite.Data
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.DataProtection
@inject IDbContextFactory<NewUserSite.Data.NewUserDbContext> dbContextFactory
@inject NavigationManager NavigationManager
@inject IDataProtectionProvider ProtectionProvider

<h1>Edit Username</h1>

<EditForm Model="@adSearcher" FormName="ADSearcherSettingsUpdate" OnValidSubmit=@handleValidSubmit>
    <label for="Username">Domain Account Username:</label>
    <InputText id="Username" @bind-Value="@adSearcher.Username" />
    <button type="submit" class="btn btn-primary">Save Settings</button>

</EditForm>

<a href="/settings/active-directory" class="btn btn-secondary">Back</a>

@code {
    ADSearcher adSearcher = new ADSearcher();
    private NewUserDbContext context;

    protected override async Task OnInitializedAsync()
    {
        context = dbContextFactory.CreateDbContext();
        adSearcher = await context.ADSearchers.FirstOrDefaultAsync();
        if (adSearcher == null)
        {
            adSearcher = new ADSearcher();
            context.ADSearchers.Add(adSearcher);
            await context.SaveChangesAsync();
        }
    }

    public async Task handleValidSubmit(EditContext editContext)
    {
        var newAdSearcher = (ADSearcher)editContext.Model;
        adSearcher.Username = newAdSearcher.Username;
        context.ADSearchers.Update(adSearcher);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/settings/active-directory");
    }
}
