@rendermode InteractiveServer
@page "/settings/preferences"

<h1 class="mb-3">Preferences</h1>

<div>
    <p>
        Here you can change the verbiage reflected on the new user request page if so desired. 
    </p>
    <p>
        By default, these are set to terms that relate better for non-technical (human resources) users.
    </p>
</div>


<div>
  
</div>


@code {

}
