@page "/settings"

<h1>Settings</h1>
<ul>
    <li><NavLink href="/settings/active-directory">Active Directory Settings</NavLink></li>
    <li><NavLink href="/settings/user-organizational-units">User Organizational Units</NavLink></li>
    <li><NavLink href="/settings/template-accounts">Template Accounts</NavLink></li>
    <li><NavLink href="/settings/domains">Domains</NavLink></li>
    <li><NavLink href="/settings/preferences">Preferences</NavLink></li>
</ul>

@code {

}
